@font-face{
	font-family: Minecraft;
	src:url(../fonts/minecraft-seven.otf);
}
@font-face{
	font-family: Mineten;
	src:url(../fonts/minecraft-ten.ttf);
}
@keyframes pan {
	0% {
		background-position: 0% 0em;
	}
	100% {
		background-position: 200% 100em;
	}
}
/* BG IMAGE */
#pueblo-kebab{
    background-image: url(https://minecraft.wiki/images/BlockSprite_polished-blackstone-bricks.png?a00af);
}
#timmy{
    background-image: url(https://minecraft.wiki/images/BlockSprite_deepslate.png?d7361);
}
#valle-kebab{
    background-image: url(https://minecraft.wiki/images/BlockSprite_cobbled-deepslate.png?2854b);
}
#kebab-mixto{
    background-image: url(https://minecraft.wiki/images/BlockSprite_spruce-log.png?c29f9);
}
#eternalia{
    background-image: url(https://minecraft.wiki/images/BlockSprite_pale-oak-log.png?87409);
}

/* BODY */
html{
	font-family: Minecraft, arial;
	background-color:rgb(40, 40, 40);
	background-repeat: repeat;
	background-size: 150px; 
	image-rendering: pixelated;
	color: white;
	font-size:1.5em;
	animation-name: pan;
	animation-duration: 180s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	margin-top: 50px;
}
body{
	margin: 0 auto;
	padding: 0;	
}

/* HEADERS */
h1, h2{
	font-size:2em;
	line-height: 1.5em;
	font-family: Mineten;
	text-shadow: 5px 5px rgb(56, 56, 56);
}

h4{
	font-size:1em;
	line-height: 1.5em;
}

/* EMBBED */
.youtube-container{
	position: relative;

}
.youtube-container iframe{
	width: 568;
}
.youtube-link{
	display: none;
}

@media (hover:none) and (pointer: coarse){
	.youtube-link{
	display: block;
	position: absolute;
	inset: 0;
	z-index: 10;
	background: transparent;
}
}
iframe, .video-movil img{
	float:center;
	border-radius: 20px;

}
.video-movil{
	display: none;
}
video{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border-radius: 10px;
}
footer{
	color: white;
	font-size: 1rem;
	text-align:center;
	margin-top:100px;
	text-decoration: none;
}
a{
	color: fuchsia;
}

/* DECLARACIÓN DE CLASES */
.container{
	/*
	display: flex;
	align-items: center;
	width: 100%;
	border: #ffffff solid 10px;
	*/
	
	
	width: min(1100px, 92%);
	margin: 0 auto;
	
	margin-bottom: 20px;
	flex-direction: column;
	gap: 800px;
}
.bloque{
	display: flex;
	align-items: center;

	justify-content: center;

	gap: 40px;
	/*width: min(1000px, 90%);*/
}
.bloque.offset-1{
	transform: translateX(0px);
}
.bloque.offset-2{
	transform: translateX(0px);
}
.bloque.offset-3{
	transform: translateX(0px);
}
.bloque.offset-4{
	transform: translateX(0px);
}
.invertido{
	flex-direction: row-reverse;
}

.eternalia-texto {
    flex: 2;
	max-width: 450px;

    background-color: #ffffff;
    padding: 20px;
    text-align: left;
	text-shadow: 3px 3px rgb(66, 66, 66);
    border-radius: 10px;
	background-image: url(https://minecraft.wiki/images/BlockSprite_pale-moss-block.png?19851);
	background-repeat:repeat;
	background-size: 500px;
}
.eternalia-imagen{
	flex: 0 0 auto;

	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.eternalia-imagen img{
	display: block;
	width: auto;
	height: auto;

	max-width: auto;
	max-height: 250px;

	min-width: 50%;
	min-height: auto;
	
	object-fit: contain;
}

/* DECLARACIÓN DE ID*/
#back_button{
	margin-left: 20px;
	position: fixed;
	top: 50px;
	z-index: 1;
}
#titulo_center{
	text-align:center;
}
.descarga{
	margin-top: 40px;
}

/*-------------------------------------------------------------*/
/*
@media (max-width: 900px) {
    .bloque {
        flex-direction: column;
    }

    .texto,
    .imagen {
        width: 100%;
        max-width: 100%;
    }
}*/

@media (hover: none) or (pointer: coarse) {
	html {
		animation: none;
	}
	/*
	.picture.optimized {
        opacity: 1 !important; 
        transform: translateY(0px) !important;
        transition: none !important;
    }
	/*
	.video-movil {
		display: block;
	}
	iframe {
		display: none;
	}*/
}