/*html{
    scrollbar-gutter: stable;
}*/
#gallery{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom:100px;
    width: clamp(800px, 90%, 2000px);
    max-width: max-content;
    overflow: show;
}
.picture{
    display: block;
    width: 100%;
    border-radius:1vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.picture:hover{
    transform: scale(1.05);
}

#description{
    position: absolute;
    bottom: 0px;
	color:white;
	text-align:center;
    text-shadow: rgb(3, 0, 40) 3px 3px;
    background-color: rgba(24, 13, 27, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 3rem;
    border-radius: 20px;
    border: 2px solid rgba(40, 12, 86, 0.5);
	font-size:1.5em;
    max-width: 70vw;
}

.carousel{
    width:900px;
    overflow:hidden;
}

.track{
    display:flex;
    transition:.4s ease;
}
.nav{

    font-size:45px;
    background:none;
    color:white;
    border:none;
    cursor:pointer;
    padding:20px;

}
.nav:hover{

    color:#00bfff;

}
.no-scroll{
    overflow: hidden;
}

/* ---------- LIGHTBOX ---------- */

.lightbox{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.92);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:1000;

}

.lightbox.show{

    display:flex;

}

.lightbox img{

    max-width:90vw;
    max-height:80vh;
    object-fit: contain;
}

.close{

    position:absolute;

    top:20px;
    right:30px;

    font-size:45px;
    color:white;
    cursor:pointer;

}

.lb-btn{

    position:absolute;

    background:none;
    border:none;

    color:white;

    font-size:60px;

    cursor:pointer;

}

.lb-prev{

    left:30px;

}

.lb-next{

    right:30px;

}
