@font-face{
	font-family: Determination-Sans;
	src:url(fonts/det-sans.ttf);
}
@font-face{
	font-family: Minecraft-Ten;
	src:url(fonts/minecraft-ten.ttf);
}
html{
	font-family: Determination-Sans, arial, verdana;
	font-size:20px;
}

header{
	background-color:rgb(27, 217, 106);
	color: white;
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	width: 1000px;
	margin: 0 auto;
}
#cabecero{
	font-size: 100px;
	font-family: Minecraft-Ten;
	margin:10px;
}

body{
	/*background-image:url(misc/fondo_02.png);*/
	background-color:rgb(22, 24, 28);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
main{
	margin-left:20px;
	margin-right:20px;
}
img{
	border-radius: 20px;
}
footer{
	margin-top: 100px;
	color:white;
	text-align:center;
	font-size: 1.2em;
}


.section_title{
	text-align:center;
	color:white;
	font-size:50px;
	font-variant: small-caps;
}
.section_subtitle{
	text-align:center;
	color:white;
	font-size:40px;
	font-variant: small-caps;
}
.container{
	position:relative;
	padding:30px;
	isolation:isolate;
	overflow:visible;
	font-size: 25px;
}
.container::after{
	content:'';
	position:absolute;
	z-index:-1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	/*background-color:rgb(22, 24, 28);
	opacity: 1;*/
	border-radius: 50px;
}
.contents{
	color:darkgray;
	width:100%;
	row-gap: 80px;
	column-gap: 10px;
	object-fit:contain;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
	font-size: 30px;
}
.subcontents{
	width:20%;
	height: 250px;
	min-width: 250px;
	max-width: 300px;
	font-size: 30px;
	background-color: rgb(38, 41, 47);
	border-radius: 50px;
	cursor: help;
}
